@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
}

body {
  color: white;
  background-color: #050505; /* Deep Black */
  font-family: Arial, Helvetica, sans-serif;
}

/* Make headers look sharp */
h1, h2, h3, h4, h5, h6 {
  letter-spacing: -0.02em;
}
